hgroup {
  text-align: center;
  padding: 2rem;
}

.home-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.home-section article img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .home-section {
    justify-content: center;
  }
}
